@import 'vars';
@import 'reset';
@import 'mixins';
@import 'animations';

body {
  color: $white;
  background: #EAEAEA;
  -webkit-font-smoothing: subpixel-antialiased;
  font: 16px/20px $base-font-family;
  padding: 2em 25px;
  font-weight: 400;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
