@import 'vars';
@import 'reset';
@import 'mixins';
@import 'animations';

body {
  color: $white;
  background: $black;
  -webkit-font-smoothing: subpixel-antialiased;
  font: 16px/20px $base-font-family;
  padding: 4em 10vw;
  font-weight: 400;

  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

.button {
  display: inline-flex;
  margin-top: 1em;
  padding: 1em;
  color: $black;
  background: $fuchsia;
  @include ease(200ms);
  cursor: pointer;

  &:hover {
    color: $white;
    background: darken($fuchsia, 10%);
  }
}
