$black:  #000000;
$grey90: #161616;
$grey80: #262626;
$grey70: #424242;

$grey50: #808080;

$white: #FFFFFF;

$blue:    #0074D9;
$aqua:    #7FDBFF;
$lime:    #01FF70;
$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #F012BE;

@import url('https://fonts.googleapis.com/css?family=Inconsolata');
$base-font-family: 'Inconsolata', monospace;
$base-font: 16px/20px $base-font-family;
